body{
    font-family: 'Raleway', sans-serif;
}

.col1{
    width: 40%;
    background-image: linear-gradient( hsl(243, 87%, 12%), hsl(243, 86%, 85%));
    height: 100vh;
    margin: 0;
}

.col2{
    width: 60%;
}


.col1,
.col2{
    display: inline-block;
    vertical-align: top;
}


.head{
    margin: 5%;
}

.image{
    display: inline-block;
    margin: 1%;

}

.image2{
    width: 3%;
    height: 3%;
    float: right;
    margin: 1%;
}

.content{
    margin: auto;
    width: 70%;
}

.button{
    background-color: #4CAF50;
    text-align: center;
    font-size: 16px;
    margin: 2% 2%; 
    width: 30%;
    height: 10%;
    font-family: 'Raleway', sans-serif;
   
}

.textfield{
    width: 50%;
    height: 7%;

}

.footer{
    font-size: 10px;
    float: right;
    margin:3%;
}

.image3{

    display: block;
    margin: 10vh auto;
    width: 80%;
    height: 70%;
}

.mobimg{
    display: none;
}

.image4{
    display: none;
}

/*for mobile phones*/



@media only screen and (max-width: 375px) {
    
.col1{
    display: none;
}

.col2{
    width: 100%;
    vertical-align: top;
    
}

.image3{
    display: none;
    width:0;
    height:0;
}

.mobimg{
    display: block;
}

.head{
    background-image: url("bg-intro.svg");
    background-repeat: no-repeat;
    background-size: 100vw 65vh;
    height: 65vh;
}

.image4{
    display: block;
    margin: 2vh auto;
    width: 60%;
    height: 60%;

}


  



  }